html, body, #root  {
  height: 99%;
  background-color: #f5f5f5;
}
.all-contacts {
  height: 100%;
}

.all-contacts-bar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
.all-contacts__content {
  height: 80%;
}
.all-contacts__content-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}